@using Web1.Models
@model List<ItemModel>
@{
    List<ItemModel> grozs = new List<ItemModel>();

    if (Session["preces"] != null)
    {
        grozs = Session["preces"] as List<ItemModel>;
    }
}

@if (grozs.Count > 0)
{
    <h1 class="panel-heading">Grozs</h1>

    <table class="table-responsive">
        <tr>
            <th>Nosaukums</th>
            <th>Cena</th>
        </tr>
        @foreach (ItemModel prece in grozs)
        {
            <tr>
                <td>@prece.Name</td>
                <td>@(prece.Price.Currency) @(prece.Price.Amount)</td>
            </tr>
        }
    </table>
}

<h1 style="background-color:red">Preču katalogs</h1>

<table>
    <tr>
        <th>Nosaukums</th>
        <th>Cena</th>
        <th></th>
    </tr>
    @foreach (ItemModel prece in Model)
    {
        <tr>
            <td>@prece.Name</td>
            <td>@(prece.Price.Currency) @(prece.Price.Amount)</td>
            <td><a href="@Url.Action("Buy", "Home", new { name = prece.Name }) ">Pirkt</a></td>
        </tr>
    }
</table>
